// Modals
.modal {
  .modal-header {
    padding: 1rem; // 16px
    border-bottom: 1px solid $gray-400;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    .btn-close {
      border: 0;
      margin: -0.5rem -0.5rem -0.5rem auto;
      background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
      opacity: 0.5;
      width: 1em;
      height: 1em;
      padding: 0.5rem; // 8px
      box-sizing: content-box;
      color: transparent;
    }
  }
  .modal-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem; // 24px
  }
  .modal-body {
    padding: 1rem; // 16px
  }
}